.element
{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 20vw;
  height: 40vh;
  border: 2px solid black;
  border-radius: 25px;
  margin: 10px;
  padding: 10px;
}
.link {
  font-size: smaller;
  color: lightcoral;
  word-wrap: break-word;
}

.title {
  color: royalblue;
  word-wrap: break-word;
}

